[submodule "submodules/--force"]
	path = submodules/--force
	url = https://github.com/freegamerskids/ziglua
[submodule "submodules/ziglua"]
	path = submodules/ziglua
	url = https://github.com/natecraddock/ziglua
