name: Regression Tests

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Cache dependencies
      uses: actions/cache@v3
      id: cache-deps
      with:
        path: |
          ~/.local/bin
          ~/.local/lib
          ~/.cache/pip
          ~/zig
          ~/.just
        key: ${{ runner.os }}-deps-0001

    - name: Set up Python
      if: steps.cache-deps.outputs.cache-hit != 'true'
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install Zig
      if: steps.cache-deps.outputs.cache-hit != 'true'
      uses: goto-bus-stop/setup-zig@v2
      with:
        version: master

    - name: Install just
      if: steps.cache-deps.outputs.cache-hit != 'true'
      uses: extractions/setup-just@v1
      with:
        just-version: '*'

    - name: Run tests
      shell: bash
      run: just test
